black==23.1a1
pytest==7.4.4
pytest-asyncio
asyncio
starknet-py
requests
pathlib
pytest-xdist
git+https://github.com/starkware-libs/starkware-starknet-utils.git@main#egg=test_utils&subdirectory=python
web3==7.14.0
